@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Raleway);

nav a{
  padding-top: 28px;
}

.navbar-default .navbar-nav>li>a{
  padding-top: 98px !important;
}

.navbar{
  margin-bottom: 0 !important;
  /*position: fixed;
  z-index: 1;
  width: 100%;*/
  height: 180px;

}

.nav>li{
  padding: 20px;
  font-family: 'Muli', sans-serif;
  font-size: 120%;
}

.nav>li{
  transition: font-size .3s;
}

.nav>li:hover{
  font-size: 130%;
  cursor: hover;
}

.carousel-control.right, .carousel-control.left{
  background: none !important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{
  width: 100%;
}

.carousel{
  /*margin-top: 50px;*/
}

.gallery{
  /*padding-top: 180px;*/
  margin: 52px;
}

.about{
  background-color: #2E3532;
  padding: 120px;
  color: white;
}

section{
  padding-bottom: 60px;
}

section h2{
  margin: 0;
  /*padding:40px 0;*/
  padding-bottom: 120px;
  font-family: 'Raleway', sans-serif;
}

.about p{
  padding: 35px 0;
}

.works h3{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.works{
  padding: 60px;
}

.works h2{
  padding-bottom: 120px;
}

.contact{
  background-color: #2E3532;
  padding: 40px 0;
  color: white;
  text-align: center;
}

.contact li {
  display: inline;
  font-size: 24px;
  padding-right: 76px;
}

.contact p{
  padding-top: 20px;
}

.contact ul{
  padding-top: 20px;
}

.works .col-md-4{
  margin-bottom: 30px;
}
